
    @media all {

        html                                                                    { height: 100%; background-color: #7c7777; }
        body                                                                    { position: relative; margin: 0px; height: 100%; font-size: 18px; line-height: 26px; font-family: Arial, Helvetica, sans-serif; }
        body div.innerbody                                                      { max-width: 1920px; width: 100%; margin: 0px auto; }
        body div.innerbody div.content                                          { min-height: 700px; }

        .centercontent                                                          { width: 96%; margin: 0px auto; max-width: 1400px; }

        a                                                                       { text-decoration: none; }

        h1, h2, h3, h4, h5, h6,
        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a							            { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-decoration: none; }

        h1, h1 a, .t1, .t1 a, .t1i, .t1i a	                                    { color: #2b2b2b; font-size: 64px; line-height: 70px; font-weight: normal; }
        h2, h2 a, .t2, .t2 a, .t2i, .t2i a							            { color: #2b2b2b; font-size: 42px; line-height: 48px; font-weight: normal; }
        h3, h3 a, .t3, .t3 a, .t3i, .t3i a							            { color: #2b2b2b; font-size: 50px; line-height: 58px; font-weight: normal; }
        h4, h4 a, .t4, .t4 a, .t4i, .t4i a							            { color: #2b2b2b; font-size: 34px; line-height: 42px; font-weight: normal; }
        h5, h5 a, .t5, .t5 a, .t5i, .t5i a							            { color: #2b2b2b; font-size: 30px; line-height: 36px; font-weight: normal; }
        h6, h6 a, .t6, .t6 a, .t6i, .t6i a							            { color: #2b2b2b; font-size: 26px; line-height: 32px; font-weight: normal; }

        .t1i, .t1i a,
        .t2i, .t2i a,
        .t3i, .t3i a,
        .t4i, .t4i a,
        .t5i, .t5i a,
        .t6i, .t6i a                                                            { color: #FFFFFF; }

        .small                                                                  { font-size: 16px; line-height: 24px; }
        .defaultFs                                                              { font-size: 18px; line-height: 26px; }
        .medium                                                                 { font-size: 20px; line-height: 28px; }
        .large                                                                  { font-size: 22px; line-height: 30px; }


        .inverse,
        .inverse a                                                              { color: #FFFFFF; }
        .bold                                                                   { font-weight: bold; }
        .tal                                                                    { text-align: left; }
        .tac                                                                    { text-align: center; }
        .tar                                                                    { text-align: right; }
        .cp                                                                     { cursor: pointer; }

        .button1                                                                { margin: 3px; display: inline-block; border: 2px solid #2b2b2b; background-color: #2b2b2b; color: #FFFFFF; padding: 10px 15px; cursor: pointer; transition: all .4s; }
        .button1.selected                                                       { border-color: #2b2b2b; background: transparent; }
        [data-singleselect]                                                     { cursor: pointer; }

        .clearbefore:before,
		.clearafter:after,
		.clearbeforeafter:before,
		.clearbeforeafter:after										            { content: ''; clear: both; display: block; font-size: 0px; height: 0px; line-height: 0px; overflow: hidden; text-indent: -100px; }

        form                                                                    {  }
        form input                                                              { background-color: #FFFFFF; width: 350px; text-align: center; line-height: 40px; height: 40px; border: 0px;  -webkit-appearance: none; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.06); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.06); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.06); }
        form input.button                                                       { padding: 0px 15px; }

    }
