/* Header */

	@media all{

		header.pageheader														{ margin-bottom: 60px; position: relative; }
		header.pageheader div.background										{ overflow: hidden; }
		header.pageheader div.background svg									{ width: 101%; margin-top: -20px; }
		header.pageheader div.userdata											{ position: absolute; right: 38px; top: 30px; z-index: 5; text-align: right; opacity: 0.8; filter: alpha(opacity = 80); }
		header.pageheader div.name												{ position: absolute; left: 25px; top: 47px; z-index: 5; transform: rotate(-20deg); }

	}

/* Footer */

	@media all{

		footer.pagefooter														{ background-color: #000000; padding: 20px 0px; margin-top: 50px; }
		footer.pagefooter div.element											{ display: inline-block; margin-right: 17px; position: relative; }
		footer.pagefooter div.element:after									{ content: '.'; position: absolute; right: -13px; top: 0px; }
		footer.pagefooter div.element:last-child:after							{ content: none; }

	}

/* Home */
	@media all{

		div.home																{	}
		div.home div.teasercontainer											{ display: flex; flex-wrap: wrap; }
		div.home div.teasercontainer div.teaser								{ background-color: #000000; flex-grow: 1; flex-basis: 0; text-align: center; margin-right: 30px; padding: 50px 0px; }
		div.home div.teasercontainer div.teaser:last-child						{ margin-right: 0px; }

	}

/* Login */

	@media all{

		div.login																{	}
		div.login div.username,
		div.login div.password													{ margin-top: 15px; }

		div.login div.username .text,
		div.login div.password .text											{ margin-bottom: 7px; }

		div.login div.error													{ margin-top: 15px; color: #ff0033; }

		div.login input.button													{ margin-top: 25px; width: auto; }
		div.login div.registration												{ margin-top: 30px; }

	}

/* Registrierung */

	@media all{

		div.registration																{	}
		div.registration div.lastname,
		div.registration div.firstname,
		div.registration div.username,
		div.registration div.passwordcheck,
		div.registration div.password													{ margin-top: 15px; }

		div.registration div.lastname .text,
		div.registration div.firstname .text,
		div.registration div.username .text,
		div.registration div.passwordcheck .text,
		div.registration div.password .text											{ margin-bottom: 7px; }

		div.registration div.error													{ margin-top: 15px; color: #ff0033; }

		div.registration input.button													{ margin-top: 25px; width: auto; }

	}

/* Dashboard */

	@media all{

		div.dashboard															{	}
		div.dashboard div.profiles												{ margin-top: 30px; }
		div.dashboard div.profiles div.headline							    	{ margin-bottom: 20px; }
		div.dashboard div.profiles div.profile									{ float: left; width: 300px; border: 2px solid #000000; margin-right: 20px; padding: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; }
		div.dashboard div.profiles div.profile div.stats > div					{ float: left; width: 50%; }
		div.dashboard div.profiles div.profile div.units						{ border-top: 2px solid #000000; clear: left; float: left; width: 100%; margin-top: 10px; padding-top: 10px; }
		div.dashboard div.profiles div.profile div.units div.unit				{ background-color: #000000; color: #FFFFFF; padding: 10px; margin-bottom: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
		div.dashboard div.profiles div.profile div.units div.unit:last-child	{ margin-bottom: 0px; }
		div.dashboard div.profiles div.profile div.units div.unit img			{ vertical-align: middle; margin-right: 10px; }
		div.dashboard div.profiles div.profile div.units div.unit div.stats									{ margin-bottom: 15px; }
		div.dashboard div.profiles div.profile div.units div.unit div.stats > div							{ margin-top: 7px; float: left; width: 50%; }
		div.dashboard div.profiles div.profile div.units div.unit div.stats > div:nth-child(2n+1)			{ clear: left; }
		div.dashboard div.profiles div.profile div.units div.unit div.items									{ background-color: #000000; color: #000000; }
		div.dashboard div.profiles div.profile div.units div.unit div.items div.item						{ background-color: #FFFFFF; margin-bottom: 10px; padding: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; }
		div.dashboard div.profiles div.profile div.units div.unit div.items div.item > div					{ float: left; }
		div.dashboard div.profiles div.profile div.units div.unit div.items div.item > div.charges			{ float: right; }
		div.dashboard div.profiles div.profile div.units div.unit div.items div.item:last-child				{ margin-bottom: 0px; }
		div.dashboard div.profiles div.profile div.units div.unit div.rezzbutton							{ width: 100%; float: left; padding: 5px; margin-top: 15px; background-color: #30cb00; -webkit-box-sizing: border-box; box-sizing: border-box; }

	}

/* Arsenal */

	/* Overview */

	@media all{

		div.arsenal.overview													{	}
		div.arsenal.overview div.elements										{ display: flex; }
		div.arsenal.overview div.elements div.element							{ background-color: #000000; flex-grow: 1; flex-basis: 0; text-align: center; margin-right: 30px; padding: 50px 0px; }

	}

	/* Items */

	@media all{

		div.arsenal.items														{	}
		div.arsenal.items div.introduction										{ text-align: center; }
		div.arsenal.items div.elements											{ display: flex; flex-wrap: wrap; margin-top: 30px; }
		div.arsenal.items div.elements div.element								{ background-color: #000000; width: 150px; text-align: center; margin: 0px 10px 20px 10px; padding: 50px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
		div.arsenal.items div.elements div.element div.title					{ }

	}

	/* Units */

	@media all{

		div.arsenal.units														{	}
		div.arsenal.units div.introduction										{ text-align: center; }
		div.arsenal.units div.elements											{ display: flex; flex-wrap: wrap; margin-top: 30px; }
		div.arsenal.units div.elements div.element								{ background-color: #000000; width: 150px; text-align: center; margin: 0px 10px 20px 10px; padding: 50px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
		div.arsenal.units div.elements div.element div.title					{ }

	}

/* New */

	/* Game */
	
		/* setmatch */

	@media all{

		header																	{  }
		header div.floordata													{ background-color: rgba(59, 59, 59, 0.85); width: 100%; height: 40px; display: flex; position: fixed; left: 0px; bottom: 0px; z-index: 9; }
		header div.floordata div												{ flex: 1; color: #FFFFFF; text-align: center; line-height: 40px; }
		.innerbody																{ padding: 0px 0px 60px 0px; }
		
		/* highlights */
		.unitcard,
		.highlight																{ box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5), inset -5px -5px 5px 0px rgba(0, 0, 0, .5), 15px 15px 20px rgba(0,0,0,.5); }
		.unitcard .cta,
		.highlight.noshadow														{ box-shadow: inset 5px 5px 5px 0px rgba(255, 255, 255, 0.5), inset -5px -5px 5px 0px rgba(0, 0, 0, .5); }
		.unitcard .cta:hover,
		.highlight.hover:hover,
		.highlight.inverse														{ box-shadow: inset -5px -5px 5px 0px rgba(255, 255, 255, 0.5), inset 5px 5px 5px 0px rgba(0, 0, 0, .5), 15px 15px 20px rgba(0,0,0,.5); }
		
		.grid			    													{ width: 100%; display: flex; flex-wrap: wrap; }
		.list			    													{ width: 100%; display: flex; flex-direction: column; }
		.tabs			    													{ width: 100%; display: flex; }
		
        .unitcard																{ margin: 15px; width: 320px; padding: 25px; border-radius: 15px; border: 3px solid #000000; }
		.unitcard,
		.unitcard[data-status="0"],
		.unitcard[data-status="Ready"]	    									{ background-color: #cab79a; }
		.unitcard[data-status="2"],
		.unitcard[data-status="KO"]	    										{ background-color: #4d364e; }
		.unitcard[data-status="1"],
		.unitcard[data-status="In Fight"]	    								{ background-color: #ea6615; }
		.unitcard.selected	                									{ transform: scale(1.05); }
		.unitcard .headerbar	               									{ display: flex; }
		.unitcard .outerbar		               									{ margin: 3px 0px; border: 1px solid #000000; height: 12px; position: relative; }
		.unitcard .outerbar.hpbar              									{ background-color: rgb(206, 105, 105); }
		.unitcard .outerbar.apbar              									{ background-color: rgb(151, 183, 229); }
		.unitcard .outerbar span           										{ height: 100%; display: inline-block; background-color: rgba(0, 0, 0, 0.2); position: absolute; left: 0px; top: 0px; z-index: 2; }
		.unitcard .outerbar:before       										{ content: attr(data-value); width: 100%; height: 100%; pointer-events: none; display: inline-block; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4); font-size: 10px; line-height: 12px; text-align: center; position: absolute; left: 0px; top: 0px; z-index: 5; }
		.unitcard .outerbar:before       										{ content: attr(data-value); width: 100%; height: 100%; pointer-events: none; display: inline-block; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4); font-size: 10px; line-height: 12px; text-align: center; position: absolute; left: 0px; top: 0px; z-index: 5; }
		.unitcard .cta															{ cursor: pointer; width: 100%; display: flex; align-items: center; justify-content: center; padding: 5px; margin-top: 15px; box-sizing: border-box; color: #FFFFFF; }
		.unitcard .cta.ctagreen													{ background-color: #339b13; }
		.unitcard .cta.ctared													{ background-color: #9b1313; }
		.unitcard .cta.ctablue													{ background-color: #4987ce; }
		.unitcard .cta.border1													{ border: 2px solid #929b13; }
		.unitcard .cta.border2													{ border: 2px solid #9b1313; }
		.unitcard .cta.border3													{ border: 2px solid #42d1f5; }
		
		div.setmatch															{  }
		div.setmatch															{  }
		div.match																{  }
		div.match div.units														{  }
		div.match div.units .unitcard											{ padding: 12px; width: 100px; }
		div.match div.units .unitcard .cta										{ margin-top: 6px; padding: 2px 3px; font-size: .8em; }
		div.match div.units div.unit											{ order: 1; opacity: .5; }
		div.match div.units div.dividerline										{ order: 2; width: 100%; height: 1px; background-color: red; margin: 25px 0px; box-shadow: 0px 0px 20px 5px red; }
		div.match div.units div.unit[data-own]									{ order: 3; }
		div.match div.units div.unit.selectable									{ opacity: 1; }

	}
